@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
}
#event_party_body_header{
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
 
}

#event_table_container{
    width: 70%;
    height: auto;
}

.boss_button{
    width: 6vw;
    height: 6vw;
    min-width: 100px;
    min-height: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 1.7rem;
    font-weight: bolder;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}


.boss_button:hover{
    -webkit-box-shadow: 0px 0px 3px 5px #f2e1f2;
    -moz-box-shadow: 0px 0px 3px 5px #f2e1f2;
    box-shadow: 0px 0px 3px 5px #f2e1f2; 
    cursor: pointer;
}

.boss_button:active{
        color:red;
        box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

#ht{
    background-image: url("../images/bossIcon/ht.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#zak{
    background-image: url("../images/bossIcon/zak.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#nt{
    background-image: url("../images/bossIcon/nt.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#jiao{
    background-image: url("../images/bossIcon/jiao.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#krex{
    background-image: url("../images/bossIcon/krex.png");
    background-size: contain;
    background-repeat: no-repeat; 
}

#cwk{
    background-image: url("../images/bossIcon/cwk.png");
    background-size: contain;
    background-repeat: no-repeat; 
}

#scar{
    background-image: url("../images/bossIcon/scar.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#toad{
    background-image: url("../images/bossIcon/toad.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#allBoss{
    background-image: url("../images/bossIcon/allBoss.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#event_table_action_bar{
    font-family: 'Balsamiq Sans', cursive, Pacifico;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}


#event_table_container Table{
    font-family: 'Balsamiq Sans', cursive, Pacifico;
    min-width: 400px;
    height: 500px;
    text-align: center;
}

#event_table_container Table td{
    height: 40px !important;
}
.detail_button{
    background-color: orange;
    margin: 3px;
    padding: 3px;
    border-radius: 4px;
    display: inline;
    color: black;
}

.detail_button:hover{
    color: white;
    background-color: darkred;
}

.detail_button:hover .event_description_tip{
    visibility: visible;
    opacity: 1;
}


.event_description_tip{
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: -100px;
    margin-top: 30px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.join_button{
    background-color: rgb(12, 226, 12);
    margin: 3px;
    padding: 3px;
    border-radius: 4px;
    display: inline;
}
.join_button:hover{
    color: white;
    background-color: darkred;
}


