@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#event_party_container{
    width: 100vw;
    height: 2000px;
    background-image: url("../images/event_background.png");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: fixed;
    display: cover;
    flex-direction: column;
    align-items: center;
}


#event_party_body{
    width: 100%
}

#event_party_table_form_container{
    height: 100vh;
    width: 100vw;
    min-width: 470px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#events_table{
    display: flex;
    width: 80%;
    min-width: 400px;
    height: 600px;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;

}

#event_pagination{
    width: 50%;
    min-width: 150px;
}

#create_event_button{
    text-decoration: none;
    color: white;
    width: 150px;
    height: 50px;
    background-color: rgb(12, 226, 12);
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    margin-right: 20px;
}

#create_event_button:hover{
    background-color: white;
    color: rgb(12, 226, 12);
    margin-bottom: 5px;
    transition: all 0.4s ease-in-out;
}




