#event_form_container{
    padding-top: 20px;
    width: 350px;
    height: 700px;
    background-color: rgba(255,255,255);
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
    position: fixed;
    right: 30px;
    top: 0px;
    visibility: hidden;
    opacity: 0;
}

#event_form_exit{
    text-decoration: none;
    position: absolute;
    font-size: 2rem;
    right: 1rem;
    top: 0;
    width: 40px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.7s ease;
}

#event_form_container:target{
    visibility: visible;
    opacity: 1;
    transition: all 0.7s ease;
}

#event_form_button:checked ~ #event_form_container{
    visibility: visible;
}