@import url('https://fonts.googleapis.com/css?family=Modak|Montserrat:500|Pacifico|Permanent+Marker&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');


*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}


.body{
    text-align: center;
    width: 100vw;
    height: auto;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 30%;
    width: 100%;
}

.header h1{
    font-family: 'Balsamiq Sans', cursive, Pacifico;
    width: 100%;
    text-align: right;
    font-size: 5vw;
    color: black;
}
.header_img{
    width: 20%;
    height:auto;
}

Table{
    border-radius: 10px;
    border: 0;
    background-color: rgba(45,45,45, 0.99) !important;
}

#timeStampNote{
    font-family: 'Balsamiq Sans', cursive, Pacifico;
}

.price_row{
    font-family: 'Balsamiq Sans', cursive, Pacifico;
    font-size: 1rem;
}

.scroll_price_wrapper{
    width: 95%;
    height: 100%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    z-index: 10;
}

.item .percent_header{
    width: 100%;
    text-align: center;
    color:  white;
    font-size: 3rem;
    font-family: 'Balsamiq Sans', cursive, Pacifico;
    background-color: rgba(116, 109, 109, 0.3);
    border-radius: 5px;
}

.item .percent_header_10{
    color: rgb(233, 233, 84);
}

.item .percent_header_30{
    color: darkmagenta;
}
.item .percent_header_60{
    color: #ee7342;
}
.item .percent_header_70{
    color: rgb(214, 206, 206);
}
.item .percent_header_100{
    color: rgb(162, 220, 243);
}

