@import url('https://fonts.googleapis.com/css?family=Modak|Montserrat:500|Pacifico|Permanent+Marker&display=swap&subset=latin-ext');

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}


.body{
    text-align: center;
    width: 100vw;
    height: auto;
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 30%;
    width: 100%;
}

.header h1{
    font-family: Pacifico;
    font-size: 5vw;
    color: black;
}
.header_img{
    width: 20%;
    height:auto;
}

Table{
    border-radius: 10px;
    border: 0;
    background-color: rgba(45,45,45, 0.99) !important;
}

#timeStampNote{
    font-family: Pacifico;
}

