
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
#NavBar_container{
    width: 100%;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav_bar_link_body{
    width: 420px;
    display: flex;
    justify-content: space-between;
    
}

.nav_bar_link{
    background-color: orange;
    font-weight: bold;
    width: 130px;
    height: 50px;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    color: rgb(39, 39, 39);
    box-shadow: 2px 5px #888888;
    
}

.nav_bar_link:hover{
    background-color: rgb(247, 224, 181);
    color: darkblue;
    transition: 0.3s;
}