#reg-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/background.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
}

#reg-form{
    border-radius: 15px;
    padding: 20px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(240,240,240, 0.75);
}




