#container{
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
    
}

#user_login_form{
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin-right: 1vw;
    position: absolute;
    right: 0px;
}

